/Assignment1/FEI_Data
/Assignment1/FEI_DataM
/csv
/Resampled
/Assignment1/LL
/Assignment1/SRA
/Assignment1/SRAm
/Assignment1/__pycache__
/Assignment1/Cleaned_DataM/FEIcm1_ohlcv.csv
/Assignment1/Cleaned_DataM/FEIcm2_ohlcv.csv
/Assignment1/Cleaned_DataM/FEIcm3_ohlcv.csv
/Assignment1/Cleaned_DataM/FEIcm4_ohlcv.csv
/Assignment1/Cleaned_DataM/FEIcm5_ohlcv.csv
/Assignment1/Cleaned_DataM/FEIcm6_ohlcv.csv
/Assignment1/Cleaned_DataM/FEIcm7_ohlcv.csv
/Assignment1/Cleaned_DataM/FEIcm8_ohlcv.csv
/Assignment1/Cleaned_DataM/FEIcm9_ohlcv.csv
/Assignment1/Cleaned_DataM/FEIcm10_ohlcv.csv
/Assignment1/Cleaned_DataM/FEIcm11_ohlcv.csv
/Assignment1/Cleaned_DataM/FEIcm12_ohlcv.csv
/Assignment1/Cleaned_DataM/FEIcm13_ohlcv.csv
/Assignment1/Cleaned_DataM/FEIcm14_ohlcv.csv
/Assignment1/Cleaned_DataM/FEIcm15_ohlcv.csv
/Assignment1/Cleaned_DataM/FEIcm16_ohlcv.csv